node_modules
/.cache
/dist
*.log
/public
/packages/**/*.js
/packages/**/*.d.ts
/packages/**/*.d.ts.map
*.tsbuildinfo
/declarations
.idea/
*.js.map
/website/docs/api
!/packages/cli/cli.js

.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

ssh-deploy-*

.docusaurus
.history